@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Manrope:wght@200..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.layout {
  @apply w-[90%] max-w-screen-xl mx-auto;
}

.heading {
  @apply text-5xl xl:text-7xl text-white font-heading
}

/* Add smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Utility classes */
@layer utilities {
  .line-clamp-2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
  
  .line-clamp-3 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }
  
  .text-balance {
    text-wrap: balance;
  }
}

:root{
  --primary: rgb(134, 239, 172);
  --secondary: rgb(59, 130, 246);
  --tertiary: rgb(147, 51, 234);
}

.hero-img{
  background: linear-gradient(270deg, #1B8BA5, #DF5174,#E9D6E3);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 7s ease infinite;
  -moz-animation: AnimationName 7s ease infinite;
  animation: AnimationName 7s ease infinite;
}

@-webkit-keyframes AnimationName {
  0%{background-position:0% 26%}
  50%{background-position:100% 75%}
  100%{background-position:0% 26%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 26%}
  50%{background-position:100% 75%}
  100%{background-position:0% 26%}
}
@keyframes AnimationName {
  0%{background-position:0% 26%}
  50%{background-position:100% 75%}
  100%{background-position:0% 26%}
}

::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #1f2937;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(rgb(134, 239, 172), rgb(59, 130, 246), rgb(147, 51, 234));
  border-radius: 100vh;
}